[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.3"
numpy = "==2.2.1"
matplotlib = "==3.10.0"
scikit-learn = "==1.6.0"

[dev-packages]
ipykernel = ">=6.29"

[requires]
python_version = "3.12"
